* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

.featured-game-container {
  height: 100%;
  width: 100%;
  padding: 4vh 5vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 0;
}

.featured-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3vh;
  gap: 3vw;
  flex-shrink: 0;
}

.featured-title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.1;
  letter-spacing: -2px;
  margin: 0;
}

@media (max-width: 768px){
  .featured-title{
    font-size: 2rem;
    margin: auto;
  }

  .featured-header{
    display: grid;
  }
}



.featured-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #a0aec0;
  max-width: 420px;
  margin-top: 8px;
  text-align: left; /* default left alignment */
}

/* Center text on mobile */
@media (max-width: 768px) {
  .featured-description {
    font-size: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}


.games-grid {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 75vh; /* occupies most of the screen */
  gap: 2vw;
}

/* Common card style */
.game-card {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 65vh; /* default card height */
    filter: brightness(1.1) contrast(1.1) saturate(1.1);

}



/* Middle card (featured) slightly taller */
.game-card-featured {
  height: 78vh;
  border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.08);


}

/* Image + overlay */
.game-image-wrapper {
  position: relative;
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.game-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: transform 0.4s ease;
}

.game-card:hover .game-image {
  transform: scale(1.05);
}

.game-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%);
}



/* Info section */
.game-info {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.03);
  height: 10vh
}

.game-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 4px;
}



/* Responsive */
@media (max-width: 992px) {
  .games-grid {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 15vw;

  }

  .game-card {
    width: 80%;
    height: 40vh;
  }

  .game-card-featured {
    height: 40vh;
    width: 80%;

  }
}
